<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meesho RestAPI</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container px-10">
      <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">meesho RestAPI</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <h1 class="py-2 my-3 text-3xl font-bold text-center">Api end points</h1>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Service</th>
              <th>API</th>
              <th>Authorize</th>
              <th>Request</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr class="hover">
              <th>1</th>
              <td>Get all products</td>
              <td>https://zany-gray-toad-sari.cyclic.app/api/products/get</td>
              <td>Public</td>
              <td>GET</td>
            </tr>
            <!-- row 2 -->
            <tr class="hover">
              <th>2</th>
              <td>Search products</td>
              <td>
                https://zany-gray-toad-sari.cyclic.app/api/products/get?search=&apos;searchKeyword&apos;&limit=5(number)
              </td>
              <td>Public</td>
              <td>GET</td>
            </tr>
            <!-- row 3 -->
            <tr class="hover">
              <th>3</th>
              <td>Get a single product</td>
              <td>
                https://zany-gray-toad-sari.cyclic.app/api/products/get/productId
              </td>
              <td>Public</td>
              <td>GET</td>
            </tr>
            <tr class="hover">
              <th>4</th>
              <td>Resgister user</td>
              <td>https://zany-gray-toad-sari.cyclic.app/api/user/register</td>
              <td>Public</td>
              <td>POST</td>
            </tr>
            <tr class="hover">
              <th>5</th>
              <td>Login user</td>
              <td>https://zany-gray-toad-sari.cyclic.app/api/user/login</td>
              <td>Public</td>
              <td>POST</td>
            </tr>
            <tr class="hover">
              <th>6</th>
              <td>Resgister seller</td>
              <td>
                https://zany-gray-toad-sari.cyclic.app/api/seller/register
              </td>
              <td>Public</td>
              <td>POST</td>
            </tr>
            <tr class="hover">
              <th>7</th>
              <td>Login seller</td>
              <td>https://zany-gray-toad-sari.cyclic.app/api/seller/login</td>
              <td>Public</td>
              <td>POST</td>
            </tr>
            <tr class="hover">
              <th>8</th>
              <td>Add product</td>
              <td>https://zany-gray-toad-sari.cyclic.app/api/products/add</td>
              <td>Seller Login Required</td>
              <td>POST</td>
            </tr>
            <tr class="hover">
              <th>8</th>
              <td>Delete product</td>
              <td>
                https://zany-gray-toad-sari.cyclic.app/api/products/delete/productId
              </td>
              <td>Seller Login Required</td>
              <td>DELETE</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
